@import "reset";
@import "variables/global";

body {
  font: var(--font-m);
  color: var(--dark-grey);
}

.app {
  background: var(--light-grey);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
