:root {
  --font-family-main: "Roboto", "Segoe UI", "Oxygen";

  // s
  --font-size-s: 12px;
  --font-line-s: 18px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  // m
  --font-size-m: 14px;
  --font-line-m: 20px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  // l
  --font-size-l: 20px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  // xl
  --font-size-xl: 38px;
  --font-line-xl: 42px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  // weight
  --weight-400: 400;
  --weight-500: 500;

  // colors
  --white: #fff;
  --dark-grey: #6f6f6f;
  --light-grey: #e2e2e2;
  --grey: #bdbdbd;
  --red-light: #f88078;
  --blue: #404ee1;
  --black: #222;
  --overlay-color: rgba(0 0 0 / 30%);

  --header-height: 80px;
}
