.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    height: 500px;
    box-shadow: 0 0 5px var(--grey);
    padding: 20px;
}

.title {
    margin: 10px 0 30px;
}

.input {
    margin-top: 10px;
}

.error {
    margin-top: 10px;
}

.loginBtn {
    margin-top: auto;
}

.link {
    text-align: center;
    margin-top: 10px;
}
