.wrapper {
    width: 100%;
}

.input {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--dark-grey);
    outline: none;
    width: 100%;
    color: var(--dark-grey);
    padding: 5px 10px;

    &.focus {
        outline: none;
    }

    -webkit-box-shadow: 0 0 0px 1000px var(--light-grey) inset;
}
