.profilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-width: 1000px;
}

// .title {
//     margin: 10px 0 30px;
// }

// .input {
//     margin-top: 10px;
// }

// .error {
//     margin-top: 10px;
// }

// .loginBtn {
//     margin-top: auto;
// }

// .link {
//     text-align: center;
//     margin-top: 10px;
// }
